@font-face {
	font-family: 'fontello';
	src: url('../font/fontello.eot?94905295');
	src: url('../font/fontello.eot?94905295#iefix') format('embedded-opentype'),
			 url('../font/fontello.woff?94905295') format('woff'),
			 url('../font/fontello.ttf?94905295') format('truetype'),
			 url('../font/fontello.svg?94905295#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {

	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;

	font-variant: normal;
	text-transform: none;

}

.icon-add:before { content: '\e800'; }
.icon-remove:before { content: '\e801'; }
.icon-world:before { content: '\e802'; }